<!-- Navbar -->
<nav>
    <section class="nav-section">
        <div class="nav-heading">
            <a href="/" class="nav-brand">
                <h1>Book Buddy</h1>
            </a>
        </div>
         <form class="d-flex ms-auto" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
        <div class="nav-options">
            <a href="/addbook" class="login-btn">Add Books</a>
            <a href="/logout" class="login-btn">Logout</a>
        </div>
    </section>
</nav>
<!-- Navbar -->
<main>
    <section id="dashboard-section">
        {{!-- 
        <form class="text-center">
            <img src="assets/dashboardGIF.gif" alt="dashboard-gif" id="dashboard-gif">
            <div id="addTask">
                <h1>Add Task</h1>
                <input type="text" name="content" id="content">
                <input type="time" name="time" id="time">
                <button class='bx bx-plus-medical' type="button"></button>
            </div>
        </form>
        <span id="todo-empty"></span>
        <div id="todo">
            <table id="todo-table" style="display:none;">
                <tr>
                <th>Sr No</th>
                <th>Task</th>
                <th id="time-column">Time</th>
                <th>Delete</th>
                </tr>
            </table>
        </div> 
        --}}


        

    </section>
</main>
<script src="js/dashboard.js"></script>